extends base

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet')
  //- meta(http-equiv='Content-Security-Policy' content="script-src 'self' http://js.stripe.com 'unsafe-inline' 'unsafe-eval';")



mixin overviewBox(label,text,icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label=label
    span.overview-box__text=text

include _reviewCard

block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

    .heading-box
      h1.heading-primary
        span=`${tour.name} tour`
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text=`${tour.duration} days`
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text=tour.startLocation.description

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg Quick facts
          - const date=tour.startDates[0].toLocaleString(`en-us`,{month:'long',year:'numeric'})
          +overviewBox('Next date',date ,'calendar')
          +overviewBox('Difficulty',tour.difficulty,'trending-up')
          +overviewBox('Participants',`${tour.maxGroupSize} people`,'user')
          +overviewBox('Rating',`${tour.ratingsAverage} / 5`,'star')

        .overview-box__group
          h2.heading-secondary.ma-bt-lg Your tour guides

          each guide in tour.guides
            .overview-box__detail
              img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)

              - if(guide.role==='lead-guide')
                span.overview-box__label Lead guide
              - if(guide.role==='guide')
                span.overview-box__label Tour guide
              span.overview-box__text=guide.name


    .description-box
      h2.heading-secondary.ma-bt-lg=`About ${tour.name} tour`
      - const paragraphs=tour.description.split('\n')
      each p in paragraphs
        p.description__text=p

  section.section-pictures
    each img, i in tour.images
      .picture-box
        img.picture-box__img(src=`/img/tours/${img}`, alt=`The Park Camper Tour ${i + 1}`, class=`picture-box__img--${i + 1}`)


  section.section-map
    #map(data-locations=`${JSON.stringify(tour.locations)}`)

  section.section-reviews
    .reviews
      each review in tour.reviews
        +reviewCard(review)
    if booked
      //- #comment
      //-   p Comment your experience
      //-   textarea#commentBox(name='commentBox' rows='4' cols='50' placeholder='Comment your experience ^^')
      //-   h2.text-center Star Rating
      //-   ul.text-center
      //-     li.star
      //-       i.fas.fa-star
      //-     li.star
      //-       i.fas.fa-star
      //-     li.star
      //-       i.fas.fa-star
      //-     li.star
      //-       i.fas.fa-star
      //-     li.star
      //-       i.fas.fa-star
      //-   button.postReview
      //-     | Post your review
      .review__block
        h2 Share your experience here 🔥🔥🔥
        .review__container
          .post
            .text Thanks for rating us!
          .star-widget
            input#rate-5(type='radio' name='rate')
            label.fas.fa-star(for='rate-5' data-star='5')
            input#rate-4(type='radio' name='rate')
            label.fas.fa-star(for='rate-4' data-star='4')
            input#rate-3(type='radio' name='rate')
            label.fas.fa-star(for='rate-3' data-star='3')
            input#rate-2(type='radio' name='rate')
            label.fas.fa-star(for='rate-2' data-star='2')
            input#rate-1(type='radio' name='rate')
            label.fas.fa-star(for='rate-1' data-star='1')
            form
              header
              .textarea
                //- textarea(cols='30' placeholder='Describe your experience..' required='')
                //- textarea(name="", cols="30", rows="10" , required='')
                textarea(name="", cols="30", rows="10",placeholder='Describe your experience..',required)
              .btn
                button.postBtn(type='submit') Post
  section.section-cta
    .cta
      .cta__img.cta__img--logo
        img(src='/img/logo-white.png', alt='Natours logo')
      img.cta__img.cta__img--1(src=`/img/tours/${tour.images[1]}`, alt='Tour picture')
      img.cta__img.cta__img--2(src=`/img/tours/${tour.images[2]}`, alt='Tour picture')
      .cta__content
        h2.heading-secondary What are you waiting for?
        p.cta__text=`${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`
        if booked
          a.button.btn.btn--green.span-all-rows#book-tour(href="/") You have booked this tour already ! Let's try another tours
        else if user
          h3#quantity__member Select your quantity member
          input#quantity(type='number' name='quantity' min='1' max='5' value='1')
          p#price=`${tour.price} $`
          button.btn.btn--green.span-all-rows#book-tour(data-tour-id=`${tour.id}`) Book tour now!
        else
          a.button.btn.btn--green.span-all-rows(href='/login') Login to book tour
        if user
          if liked
            .heart__icon.active
              i.fas.fa-heart.likeBtn
          else
            .heart__icon
              i.fas.fa-heart.likeBtn